<style>
    .contact-area img {
        max-width: 100%;
        height: auto;
    }

    .contact-area section {
        padding: 60px 0;
        /* min-height: 100vh;*/
    }

    .contact-area ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }


    .contact-content p {
        font-size: 15px;
        margin: 30px 0 60px;
        position: relative;
    }

    .contact-content p::after {
        background: #353C46;
        bottom: -30px;
        content: "";
        height: 1px;
        left: 50%;
        position: absolute;
        transform: translate(-50%);
        width: 80%;
    }

    .contact-content h6 {
        color: #8b9199;
        font-size: 15px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    .contact-content span {
        color: #353c47;
        margin: 0 10px;
    }

    .contact-social {
        margin-top: 30px;
    }

    .contact-social>ul {
        display: inline-flex;
    }

    .contact-social ul li a {
        border: 1px solid #8b9199;
        color: #8b9199;
        display: inline-block;
        height: 40px;
        margin: 0 10px;
        padding-top: 7px;
        transition: all 0.4s ease 0s;
        width: 40px;
    }

    .contact-social ul li a:hover {
        border: 1px solid #FAB702;
        color: #FAB702;
    }

    .contact-content img {
        max-width: 210px;
    }

    footer {
        color: #868c96;
    }

    footer p {
        padding: 40px 0;
        text-align: center;
    }

    footer img {
        width: 44px;
    }
</style>
<section class="contact-area" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3">
                <div class="contact-content text-center">
                    <a href="/"><img src="images/traceinc.png" alt="logo"></a>
                    <p>Trace Inc is an Indian software development company that offers high-quality solutions to organizations around the world. With a highly skilled and experienced team of developers, Trace Inc has been providing high-end software solutions since its inception in 2022. Through the combination of innovative technology, modern techniques, and a highly skilled workforce, Trace Inc has become a leader in the software development industry.</p>
                    <div class="hr"></div>
                    <h6>Trace inc, Kolathur, Kerala 679338.</h6>
                    <h6>+00 0000 0000 00<span>|</span>+00 0000 0000 00</h6>
                    <div class="contact-social">
                        <ul>
                            <li><a class="hover-target" href=""><i class="fa fa-facebook"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fa fa-linkedin"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fa fa-github"></i></a></li>
                            <li><a class="hover-target" href=""><i class="fa fa-pinterest"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright &copy; 2023 <img src="images/traceinc.png" alt="logo"> All Rights Reserved.</p>
    </footer>
</section>