<div style="width: 100vw; display: flex; align-items: center; justify-content: center;" class="footad">
    <script type="text/javascript">
        atOptions = {
            'key': '84acb4854831e29c7d2aaeb168d05366',
            'format': 'iframe',
            'height': 50,
            'width': 320,
            'params': {}
        };
        document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://crummygoddess.com/84acb4854831e29c7d2aaeb168d05366/invoke.js"></scr' + 'ipt>');
    </script>
</div>