.details {
    width: 100%;
    height: 50px;
    background-color: #f6f6f6;
    position: fixed;
    top: 0px;
    display: flex;
}

.details .profile {
    width: 40px;
    height: 100%;
}

.details .profile button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.details .name {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.details .more {
    width: 40px;
    height: 100%;
}

.details .more button {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: transparent;
}

.chats {
    padding-top: 50px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
    padding-bottom: 60px;
}

.load-wrapp {
    float: left;
}

.line {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background-color: #4b9cdb;
}

.load-2 .line:nth-last-child(1) {
    animation: loadingB 1.5s 1s infinite;
}

.load-2 .line:nth-last-child(2) {
    animation: loadingB 1.5s 0.5s infinite;
}

.load-2 .line:nth-last-child(3) {
    animation: loadingB 1.5s 0s infinite;
}

.input {
    width: 100%;
    height: 50px;
    background-color: #f6f6f6;
    position: fixed;
    bottom: 0px;
}

.input .message {
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
}

.input .message button {
    width: 60px;
    border: none;
    outline: none;
}

.input .message input {
    width: 100%;
    background-color: transparent;
    border: none;
    padding-left: 15px;
    outline: none;
}

@keyframes loadingB {
    0% {
        width: 15px;
    }

    50% {
        width: 35px;
    }

    100% {
        width: 15px;
    }
}

code {
    background: hsl(220, 80%, 90%);
}

pre {
    white-space: pre-wrap;
    background: hsl(30, 80%, 90%);
}