<div class="details">
    <div class="profile">
        <button onclick="location.href = 'https://github.com/mrsajadpp/dotchat' "><box-icon
                name='git-repo-forked'></box-icon></button>
    </div>
    <div class="name">
        <span>Dotchat</span>
    </div>
    <div class="more">
        <button><box-icon name='dots-vertical'></box-icon></button>
    </div>
</div>
<snap-ui class="chats" id="chats" contact="{{from}}">
    <snap-notice>Dotchat is now online!</snap-notice>
</snap-ui>
<div class="input">
    <form class="message" id="send" onsubmit="return false;">
        <button type="button"><box-icon name='paperclip'></box-icon></button>
        <input type="text" id="message" placeholder="Message" autofocus>
        <button type="submit"><box-icon name='send'></box-icon></button>
    </form>
</div>
<script>
    const socket = io();
    let chats = document.getElementById('chats');
    let send = document.getElementById('send');
    let userId = Math.random().toString();
    let snapLoader = document.createElement('snap-message');
    snapLoader.from = 'Dot chat';
    let loadWrapp = document.createElement('div');
    loadWrapp.classList.add('load-wrapp');
    loadWrapp.innerHTML = '<div class="load-2"><div class="line"></div><div class="line"></div><div class="line"></div></div>'


    send.addEventListener("click", () => {
        if (document.getElementById('message').value !== '') {
            let snapMessage = document.createElement('snap-message');
            snapMessage.innerHTML = document.getElementById('message').value;
            chats.appendChild(snapMessage);
            snapLoader.appendChild(loadWrapp);
            chats.appendChild(snapLoader)
            chats.scrollTop = chats.scrollHeight;
            socket.emit('message', {
                from: userId,
                content: document.getElementById('message').value,
                date: new Date()
            })
            document.getElementById('message').readOnly = true;
            document.getElementById('message').value = '';
        }
    })

    socket.on(userId, (data) => {
        let snapMessage = document.createElement('snap-message');
        snapMessage.from = 'Dot chat';
        chats.removeChild(snapLoader);
        chats.appendChild(snapMessage);
        Push.create("Dotchat", {
            body: 'Reply from dotchat',
            icon: '/images/logo/favicon.png',
            silent: true,
            timeout: 4000,
            onClick: function () {
                socket.emit('notification-clicked', { message: 'Notification clicked!' });
                window.focus();
                this.close();
            }
        });
        let content = data.content;
        let delay = 100; // milliseconds per character
        let i = 0;
        let intervalId = setInterval(() => {
            snapMessage.innerHTML += content.charAt(i);
            chats.scrollTop = chats.scrollHeight;
            i++;
            if (i > content.length) {
                clearInterval(intervalId);
                document.getElementById('message').readOnly = false;
            }
        }, delay);
    })
</script>