<div class="details">
    <div class="profile">
        <button onclick="location.href = 'https://github.com/mrsajadpp/dotchat' "><box-icon name='git-repo-forked'></box-icon></button>
    </div>
    <div class="name">
        <span>Dotchat</span>
    </div>
    <div class="more">
        <button><box-icon name='dots-vertical'></box-icon></button>
    </div>
</div>
<snap-ui class="chats" id="chats" contact="{{from}}">
    <snap-notice>Dotchat is now online!</snap-notice>
</snap-ui>
<div class="input">
    <form class="message" id="send" onsubmit="return false;">
        <button type="button"><box-icon name='paperclip'></box-icon></button>
        <input type="text" id="message" placeholder="Message" autofocus>
        <button type="submit"><box-icon name='send'></box-icon></button>
    </form>
</div>
<script>
    const socket = io();
    let chats = document.getElementById('chats');
    let send = document.getElementById('send');

    send.addEventListener("click", () => {
        if (document.getElementById('message').value !== '') {
            let snapMessage = document.createElement('snap-message');
            snapMessage.innerHTML = document.getElementById('message').value;
            chats.appendChild(snapMessage);
            chats.scrollTop = chats.scrollHeight;
            socket.emit('message', {
                from: '8943414105',
                content: document.getElementById('message').value,
                date: new Date()
            })
            document.getElementById('message').value = '';
        }
    })

    socket.on('8943414105', (data) => {
        let snapMessage = document.createElement('snap-message');
        snapMessage.from = 'Dot chat';
        snapMessage.innerHTML = data.content;
        chats.appendChild(snapMessage);
        chats.scrollTop = chats.scrollHeight;
        Push.create("Dotchat", {
            body: 'A message from ' + data.from,
            icon: '/images/logo/favicon.png',
            silent: true,
            timeout: 4000,
            onClick: function () {
                socket.emit('notification-clicked', { message: 'Notification clicked!' });
                window.focus();
                this.close();
            }
        });
    })
</script>